body {
  background-color: #e7e5e8;
  color: #8f9599;
  font-family: 'Rubik', sans-serif;
}

#page-container {
  width: 800px;
  margin: 0 auto;
}

h2 {
  color: #1696e0;
  font-family: 'Nunito', sans-serif;
}
h3 {
  padding-top: 20px;
  font-family: 'Rubik', sans-serif;
}

#cover{
  background-image: url('images/winter.jpg');
  background-size: 100% 100%;
}

.card {
  background-size: cover;
  background: white;
  padding: 20px;
  border-radius: 6px;
  border: 1px solid #dee1e2;
  margin: 10px;
}

ul li{
  list-style:none;
  display: inline-block;
  padding: 30px;
}

i:hover {
  color: #a31114;
}

#profile_pic {
  width: 150px;
  height: 150px;
  border-radius: 150px;
  border-style: solid;
  border-color: #c7cacc;
  border-width: 1.5px;
}

.pic {
  width: 150px;
  height: 150px;
  border-radius: 10px;
}

.textcenter {
  text-align: center;
}
